.contacts-table {
    width: 60%;
    margin: 0 auto;
    border-collapse: separate;
}

.contacts-table th, .contacts-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #fff; /* White background */
    color: #000;
}

.contacts-table th {
    background-color: #000; /* Black background for header row */
    color: #fff; /* White text */
    border-top: 1px solid #000;
    text-align: center;
}

.contacts-table td:first-child, .contacts-table th:first-child {
    border-left: 1px solid #000;
}

.contacts-table tr:last-child td {
    border-bottom: none; /* No border for last row */
}